.spr {
    font-size: 1.2em
}

.sprTarget {
    background: #ff7d7d;
    padding: 3px 4px 4px 9px;
    margin-right: 1em;
    font-weight: 800;
    color: whitesmoke;
    border-radius: 7px;
}

.sprAction {
    background: #0041a2;
    padding: 0px 4px 4px 9px;
    margin-right: 1em;
    font-weight: 800;
    color: whitesmoke;
    border-radius: 7px;
    ;
}

.point {
    padding: 12px;
}